# Sunucu Ayarları
PORT=8088
HOST=0.0.0.0

# Genel rapor ekranı parolası (/rapor)
REPORT_PASSWORD=guclu-bir-parola-belirleyin
# Kişisel C_O rapor ekranı için farklı parola (/c_o_report)
C_O_REPORT_PASSWORD=farkli-guclu-bir-parola-belirleyin

# Veri Kaynağı Ayarı: ENV veya ACCESS
# - ENV: Veritabanı bilgilerini bu .env dosyasından okur (Aşağıdaki profillere göre).
# - ACCESS: Üst dizindeki '1a.accdb' dosyasındaki aktif veritabanı ayarlarını kullanır (get_db_config.ps1 üzerinden).
DB_CONFIG_SOURCE=ENV

# Aktif Çalışma Profili: WORK veya HOME
ENV_PROFILE=WORK

# --- İŞ YERİ (WORK) SUNUCU AYARLARI ---
WORK_DB_SERVER=SERVER\SQLSOLUTION17
WORK_DB_DATABASE=BaytemürII
WORK_DB_USER=sa
WORK_DB_PASSWORD=Baytemür2024!
WORK_DB_TRUST_SERVER_CERTIFICATE=true
WORK_DB_CONNECTION_TIMEOUT=15

# --- EV (HOME) SUNUCU AYARLARI ---
HOME_DB_SERVER=localhost\SQLEXPRESS
HOME_DB_DATABASE=BaytemürII_Local
HOME_DB_USER=sa
HOME_DB_PASSWORD=LocalPassword123!
HOME_DB_TRUST_SERVER_CERTIFICATE=true
HOME_DB_CONNECTION_TIMEOUT=15
WMKAT_CUSTOMER_NUMBER=
WMKAT_USERNAME=
WMKAT_PASSWORD=
WMKAT_LOGIN_URL=https://plus.wmkat.de/login/default
WMKAT_SEARCH_URL=
WMKAT_CUSTOMER_SELECTOR=#login-input--customernumber
WMKAT_USERNAME_SELECTOR=#login-input--username
WMKAT_PASSWORD_SELECTOR=input[name="password"]
WMKAT_LOGIN_SUBMIT_SELECTOR=button[type="submit"]
WMKAT_LOGGED_IN_SELECTOR=input#directSearchQuery
WMKAT_SEARCH_INPUT_SELECTOR=input#directSearchQuery
WMKAT_SEARCH_SUBMIT_SELECTOR=button:has(svg.icon-search)
WMKAT_NO_RESULTS_SELECTOR=svg.icon-no-results
WMKAT_DETAILS_SELECTOR=button:has(svg.icon-details)
WMKAT_REFERENCE_TAB_SELECTOR=div[accesskey='tab-1-references'].tab
WMKAT_SELECTED_REFERENCE_TAB_SELECTOR=div[accesskey='tab-1-references'].tab.is-selected
WMKAT_REFERENCES_CONTAINER_SELECTOR=div.article-references
WMKAT_CLOSE_MODAL_SELECTOR=button:has(svg.icon-close)
WMKAT_TIMEOUT_MS=30000
RECYCLE_USERNAME=
RECYCLE_PASSWORD=
RECYCLE_LOGIN_URL=https://recycle.baytemuer.de/
RECYCLE_TIMEOUT_MS=30000
